{% extends 'chroniFic/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChroniFic</title>
</head>
<body>
<h2 style="margin-left: 200px;text-align: justify">About us</h2>
<div style="margin-left: 200px">
    <p>
            We at ChroniFic are striving towards providing first hand information from the specialists to patients. We do this by filtering the information
        based on the disease type. By doing this, we would like to source our information from credible sources such as specialists from varied hospitals.
        On the contrary, we are also helping the doctor get a potential patient! Our application though is more about helping people get the desired information
        without having to consult a doctor. This would cater numerous people who are in the age groups of 40-60 who are at a higher risk of chronic illnesses. At
        this age, they will have an option to change their lifestyle and take preventive measures to avoid having any of the chronic illnesses.

        In the example that we have considered, diabetes can be avoided by imbibing excercise into ones' lifestyle. By choosing healthy foods over fast foods.
        In the days to come we would like to incorporate the food habits and other related information to a disease under one roof.
    </p>
    <p>
        <h2>We are located at:</h2>
    <p>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1io_Hh8ezO3y8ar0u0qoZzKoumu4" width="640" height="480"></iframe>
    </p>
</div>
</body>
</html>

{% endblock %}}