{% extends 'chroniFic/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChroniFic</title>
</head>
<body>
<h2>Uploads from the patients</h2>
    <table border="2">
        <tr>
        <th width="200px" style="padding-right: 2%; padding-left: 2%">Name of the Patient</th>
        <th width="200px" style="padding-right: 2%;padding-left: 2%">Contact Number</th>
        <th width="300px"style="padding-left: 2%">Image upload of prescription/report</th>
        </tr>
        { for
        <tr>

        </tr>
    </table>
</body>
</html>

{% endblock %}}